@model BusinessCenter.Admin.Models.ReSendMail
@{
    ViewBag.Title = "DCRA - Forgot Password Status";
}
<div class="container headerBreadcrumb">
    @if ((int)Session["Admincount"] == 3)
    {
        @Html.ActionLink("Home", "Dashboard", "SuperAdmin")
        <span class="easy-breadcrumb_segment-separator">/</span>
        @Html.ActionLink("Business Center Admin Portal", "Dashboard", "Superadmin")
    <span class="easy-breadcrumb_segment-separator">/</span>
        @Html.ActionLink("User", "CustomerHome", "Admin")
    <span class="easy-breadcrumb_segment-separator">/</span>
    }
    else
    {
     @Html.ActionLink("Home", "Dashboard", "Admin")
    <span class="easy-breadcrumb_segment-separator">/</span>
    @Html.ActionLink("Business Center Admin Portal", "Dashboard", "Admin")
    <span class="easy-breadcrumb_segment-separator">/</span>
        @Html.ActionLink("User", "CustomerHome", "Admin")
    <span class="easy-breadcrumb_segment-separator">/</span>
    }
    <span class="easy-breadcrumb_segment-separator">Reset Password</span>
</div>
<div class="page_title">
    <div class="container">
        <div class="row">
            <h2 tabindex="0" id="page_heading">Password reset link has been sent to <br /> @Model.StatusMsg's mail id.</h2>
        </div>
    </div>
</div>
<div class="login_form forgot_password" style="height:350px;">
    <div class="container">
        <div class="verify-mail">
            <h3 id="password_status">You are almost done. A link has been sent to your registered email to reset the @ViewBag.Statusmsg password.</h3>
            <p class="resend-email">
        </div>
    </div>
</div>



