@using System.ComponentModel.DataAnnotations
@using BusinessCenter.Admin.Helpers
@using BusinessCenter.Admin.Common;
@model IEnumerable<BusinessCenter.Admin.Models.SecondaryModel>
<div class="row">
    <div id="example_wrapper" class="dataTables_wrapper">
        <div class="table table-responsive" style="overflow: hidden;">
            <table class="dataTable table table-striped table-bordered  tableborder  smartgrid" id="datasearch" role="grid">
                <thead>
                    <tr>
                        <th class="text-center">Secondary Category Name</th>
                        @*<th class="text-center">Documents</th>
                            <th class="text-center">Prices</th>*@
                            <th class="text-center">Status</th>
                        @*<th class="text-center">Edit</th>*@
                        <th class="text-center">Activate/Deactivate</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count() == 0)
                    {
                        <tr>
                            <td colspan="8">No record(s) found</td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            <tr class="tablerow tabrow">
                                <td class="col3-tab col3 Superadmingrid usercol">
                                
                                    @Html.HiddenFor(modelItem => item.PrimaryId, new { id = "PrimaryID" })
                                 
                                    <span>
                                        @Html.DisplayFor(modelitem => item.SecondaryLicenseCategory)
                                           
                                      
                                    </span>
                                  
                                </td>
                                <td class="col1-tab col1 Superadmingrid usercol">
                                    @if (item.IsPrimaryStatus == true && item.Status==true)
                                    {
                                        <p style="font-size: 14px;" class="paracol12 paratabcol1">
                                            <span style="text-align:center">
                                                Active&nbsp;@Html.Image("~/images/active.png", "Active")
                                            </span>
                                        </p>
                                    }
                                    else
                                    {


                                        <span>
                                            Inactive&nbsp;@Html.Image("~/images/InActive.png", "InActive")
                                        </span>

                                    }
                                </td>
                                <td class="col1-tab col1 Superadmingrid usercol">
                                   @if ((int) Session["Admincount"] == 3)
                                    {
                                    if (item.IsPrimaryStatus == true)
                                    {
                                      
                                        if (item.Status == true)
                                        {
                                         
                                            <span>
                                                <a href="javascript:void(0)" onclick="ShowDialog('@item.SecondaryId') " title="Deactivate">
                                                    @Html.Image("~/images/delete.png", "Deleted")
                                                </a>
                                             
                                            </span>
                                        }
                                        else if (item.Status == false)
                                        {
                                            <span>
                                                <a href="javascript:void(0)" onclick="ShowUpdate('@item.SecondaryId') " title="Activate">
                                                    @Html.Image("~/images/active.png", "Active")
                                                </a>
                                        </span>
                                        }
                                        

                                    }
                                    else
                                    {
                                        @Html.HiddenFor(modelItem => item.SecondaryLicenseCategory, new {id = "secondarylicense"})
                                        <span>
                                                @Html.Image("~/images/close_delete.png", "Deleted")
                                            </span>
                                    }
                                   }
                                   else
                                   {

                                   

                                        if (item.Status == true)
                                        {

                                            <span>
                                               
                                                    @Html.Image("~/images/delete.png", "Deleted")
                                               

                                            </span>
                                        }
                                        else if (item.Status == false)
                                        {
                                            <span>
                                               
                                                    @Html.Image("~/images/active.png", "Active")
                                              
                                            </span>
                                        }


                                   }

                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<style>
    .dataTables_wrapper .dataTables_paginate {
        padding-top: 0.55em !important;
    }

        .dataTables_wrapper .dataTables_paginate .paginate_button {
            padding: 0em 0em !important;
        }

    .paginate_button .previous {
        font-size: 19px !important;
    }

    .paginate_button .next {
        font-size: 19px !important;
    }

    .dataTables_paginate .paging_simple_numbers {
        font-size: 19px !important;
    }

    .login_form a {
        font-size: 19px !important;
    }

    table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
    }

    .login_form p {
        margin-bottom: 0;
    }
</style>
@if (Model.Count() == 0)
{

}
else
{
    <script type="text/javascript" class="init">
        var tableData = '';
        $(document).ready(function () {
            window.alert = function () { /* do nothing here */ }
            tableData = $('#datasearch').DataTable({
                "ordering": false,
                stateSave: true
            });
            $("#datasearch_length").hide();
            $("#datasearch_filter").hide();
            if ($('#datasearch td').attr('colspan') == '8') {
                $("#datasearch_info").hide();
                $("#datasearch_paginate").hide();
            } else {
            }
        });

        $("input, button").on('click', function (e) {
            tableData.state.clear();
        });

        $("a").on('click', function (e) {
            if ($(this).hasClass('paginate_button')) {
            } else {
                tableData.state.clear();
            }
        });

        function clearTableState() {
            tableData.state.clear();
        }

        $("#edit-btn").click(function () {
            $("#btncreate").text("Update");
            $("#btncreate").text("Update");
        });
    </script>
}
