@using BusinessCenter.Admin.Helpers
@model BusinessCenter.Admin.Models.AccountViewModel
<div class="row">
    <div id="example_wrapper" class="dataTables_wrapper">
        <div class="table table-responsive" style="overflow: hidden;">
            <table class="dataTable table table-striped table-bordered  tableborder smartgrid" id="datasearch" role="grid">
                <thead>
                    <tr>
                        <th class="text-center">Username</th>
                        <th class="text-center">Email</th>
                        <th class="text-center">Name</th>
                        <th class="text-center">Status</th>
                        @if ((int)Session["Admincount"] == 3)
                        {
                            <th class="text-center">Unlock</th>
                            <th class="text-center">Reset Password</th>
                            <th class="text-center">Deactivate</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @if (Model.AllManagers.Count == 0)
                    {
                        <tr>
                            <td colspan="8" id="noRecords"></td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model.AllManagers)
                        {
                            if (((string)Session["UserName"]).ToUpper() == item.UserName.ToUpper())
                            {
                                <tr class="tablerow tabrow">
                                    <td class="col3-tab col3 Superadmingrid usercol">
                                        <p style="" class="paracol paratabcol">
                                            <span>
                                                @Html.DisplayFor(modelItem => item.UserName)
                                            </span>

                                        </p>
                                    </td>
                                    <td class="col3-tab col3 Superadmingrid usercol">
                                        <p style="" class="paracol paratabcol">
                                            <span>
                                                @Html.DisplayFor(modelItem => item.Email)
                                            </span>
                                        </p>
                                    </td>
                                    <td class="col2-tab col2 Superadmingrid usercol">
                                        <p style="" class="paracol paratabcol">
                                            <span>
                                                @Html.DisplayFor(modelItem => item.FirstName)
                                                @Html.DisplayFor(modelItem => item.LastName)
                                            </span>
                                        </p>
                                    </td>
                                    <td class="col1-tab col1 Superadmingrid usercol">
                                        <p style="color: green; font-size: 14px;" class="paracol paratabcol">
                                            <span>
                                                Active&nbsp;@Html.Image("~/images/active.png", "Active")
                                            </span>
                                        </p>
                                    </td>
                                    @if ((int)Session["Admincount"] == 3)
                                    {
                                        <td class="col1-tab col1 Superadmingrid usercol">
                                            <p style="color: Red; font-size: 14px;" class="paracol1 paratabcol1">
                                                <span>
                                                    @Html.Image("~/images/unlockImg.png", "Lock")
                                                </span>
                                            </p>
                                        </td>
                                        <td class="col1-tab col1 Superadmingrid usercol">
                                            <p style="color: blue; font-size: 18px;" class="paracol1 paratabcol1">
                                                <span>
                                                    Reset
                                                    <img src="~/images/key.png" width="28" height="28" />
                                                </span>
                                            </p>
                                        </td>
                                        <td class="col1-tab col1 Superadmingrid usercol">
                                            <p style="color: blue; font-size: 14px;" class="paracol1 paratabcol1">
                                                <span>
                                                    <span>--</span>
                                                </span>
                                            </p>
                                        </td>
                                    }
                                </tr>
                            }
                            else
                            {
                                <tr class="tablerow tabrow">
                                    @if ((int)Session["Admincount"] == 3)
                                    {
                                        <td class="col3-tab col3 Superadmingrid usercol">
                                            <p style="" class="paracol3 paratabcol3">
                                                <span>

                                                    @Html.ActionLink(item.UserName, "Profile", "Account", new { UserId = item.UserId.Trim(), type="M" }, null)
                                                </span>
                                            </p>
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="col3-tab col3 Superadmingrid usercol">
                                            <p style="" class="paracol3 paratabcol3">
                                                <span>
                                                    @Html.DisplayFor(modelItem => item.UserName)

                                                </span>
                                            </p>
                                        </td>
                                    }
                                    <td class="col3-tab col3 Superadmingrid usercol">
                                        <p style="" class="paracol3  paratabcol3">
                                            <span>
                                                @Html.DisplayFor(modelItem => item.Email)
                                            </span>
                                        </p>
                                    </td>
                                    <td class="col2-tab col2 Superadmingrid usercol">
                                        <p style="" class="paracol2  paratabcol2">
                                            <span>
                                                @Html.DisplayFor(modelItem => item.FirstName)
                                                @Html.DisplayFor(modelItem => item.LastName)
                                            </span>
                                        </p>
                                    </td>
                                    <td class="col1-tab col1 Superadmingrid usercol">

                                        @if (item.IsDelete == false)
                                        {
                                            <p style="color: green; font-size: 14px;" class="paracol1  paratabcol1">
                                                <span>
                                                    Active&nbsp;@Html.Image("~/images/active.png", "Active")
                                                </span>
                                            </p>
                                        }
                                        else if (item.IsDelete == true)
                                        {
                                            <p style="color: Red; font-size: 14px;" class="paracol1 paratabcol1">
                                                <span>
                                                    Inactive&nbsp;@Html.Image("~/images/InActive.png", "InActive")
                                                </span>
                                            </p>
                                        }
                                    </td>
                                    @if ((int)Session["Admincount"] == 3)
                                    {
                                        <td class="col1-tab col1 Superadmingrid usercol">

                                            @if (item.LockoutEnabled == false)
                                            {
                                                <p style="color: Red; font-size: 14px;" class="paracol1 paratabcol1">
                                                    <span>
                                                        @Html.Image("~/images/unlockImg.png", "Lock")
                                                    </span>
                                                </p>
                                            }
                                            else
                                            {
                                                <p style="color: Red; font-size: 14px;" class="paracol1 paratabcol1">
                                                    <span>


                                                        <a href="javascript:void(0)" onclick="ShowLockDialog('@item.UserId', '@Model.UserType','SuperAdmin') ">
                                                            @Html.Image("~/images/Lock.png", "Unlock")
                                                        </a>
                                                    </span>
                                                </p>
                                            }

                                        </td>
                                        <td class="col1-tab col1 Superadmingrid usercol">
                                            @if (item.IsDelete == false && item.LockoutEnabled == false)
                                            {
                                                <p style="color: blue; font-size: 14px;" class="paracol1 paratabcol1">
                                                    <span>

                                                        <a href="javascript:void(0)" onclick="ShowResetDialog('@item.UserId','@item.FirstName','@item.LastName') " class="navReset">Reset</a>

                                                        <a href="javascript:void(0)" onclick="ShowResetDialog('@item.UserId','@item.FirstName','@item.LastName') " class="resetkeyimglink">
                                                            @Html.Image("~/images/key.png", "Reset password")

                                                        </a>
                                                    </span>
                                                </p>
                                            }
                                            else
                                            {
                                                <p style="color: blue; font-size: 18px;" class="paracol1 paratabcol1">
                                                    <span>
                                                        Reset
                                                        <img src="~/images/key.png" width="28" height="28" />
                                                    </span>
                                                </p>
                                            }
                                        </td>
                                        <td class="col1-tab col1 Superadmingrid usercol">

                                            @if (item.IsDelete == false)
                                            {
                                                <p style="color: Red; font-size: 14px;" class="paracol1 paratabcol1">
                                                    <span>

                                                        <a href="javascript:void(0)" onclick="ShowDialog('@item.UserId','@Model.UserType') ">
                                                            @Html.Image("~/images/delete.png", "Deleted")
                                                        </a>
                                                    </span>
                                                </p>
                                            }
                                            else
                                            {
                                                <p style="color: Red; font-size: 14px;" class="paracol1 paratabcol1">
                                                    <span>
                                                        @Html.Image("~/images/close_delete.png", "Delete")
                                                    </span>
                                                </p>
                                            }
                                        </td>
                                    }
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade homeresetmodaldiv" id="Homeresetmodal-container" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="margin-top:60px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body homeresetmodal-body">
                <h3 class='error_message'> </h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="close-button  resetyes-btn" id="submit_btn" data-dismiss="modal">OK</button>

            </div>
        </div>
    </div>
</div>

<style>
    .resetkeyimglink img {
        width: 28px;
        height: 28px;
    }
</style>
<script>
    //   Password reset link has been sent to ‘s mail id
    var glbresetGui;
    var glbresetlen;
    var glbresetfirstname;
    var glbresetlastnam;
    function ShowResetDialog(UserId, FirstName, LastName) {
        // Do not show this confirmation pop up again for the Current session.
        glbresetGui = UserId;
        glbresetfirstname = FirstName;
        glbresetlastname = LastName;
        ResetPassword(glbresetGui, glbresetfirstname, glbresetlastname);
    }

    function ResetPassword(Gui, firstname, lastname) {
        $("#example_wrapper").css({ 'opacity': '0.5' });
        $.ajax({
            url: '/Account/ForgotpasswordstausNew',
            type: 'Get',
            data: { UserId: Gui, FirstName: firstname, LastName: lastname },
            success: function (data) {
                var sessionId = $(data).find('#Session_Expired').text();
                if (sessionId == 'Session Expired') {
                    window.location.href = '/Account/SessionExpiry';
                } else {
                    $("#example_wrapper").css({ 'opacity': '' });
                    $('.homeresetmodal-body h3.error_message').empty().append('Password reset link has been sent to ' + firstname + ' ' + lastname + '‘s mail id');
                    $('.homeresetmodaldiv').modal('show');
                }
                // $('#Homeresetmodal-container').modal('hide');
                // location.reload();
            },
            error: function (data) {
                console.log(JSON.stringify(data));
            }
        });
    }
</script>


<style>
    .dataTables_wrapper .dataTables_paginate {
        padding-top: 0.55em !important;
    }

        .dataTables_wrapper .dataTables_paginate .paginate_button {
            padding: 0em 0em !important;
        }

    .paginate_button .previous {
        font-size: 19px !important;
    }

    .paginate_button .next {
        font-size: 19px !important;
    }

    .dataTables_paginate .paging_simple_numbers {
        font-size: 19px !important;
    }

    .login_form a {
        font-size: 19px !important;
    }

    table.dataTable {
        /*border-collapse: collapse !important;*/
    }

        /*table.dataTable thead th, table.dataTable thead td {
            border: 1px solid #ddd;
        }*/

        table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
        }

    .login_form p {
        margin-bottom: 0;
    }
</style>
<script type="text/javascript" class="init">
    var tableData = '';
    $(document).ready(function () {
        window.alert = function () { /* do nothing here */ }
        tableData = $('#datasearch').DataTable({
            "ordering": false,
            stateSave: true
        });
        $("#datasearch_length").hide();
        $("#datasearch_filter").hide();

        if ($('#datasearch td').attr('colspan') == '8') {
            $("#datasearch_info").hide();
            $("#datasearch_paginate").hide();
            // do this
        } else { }
    });

    $(" #btnCreate").on('click', function (e) {
        tableData.state.clear();
        localStorage.removeItem("selectedAdminType");
    });

    $("a").on('click', function (e) {
        if ($(this).hasClass('adminGrids') || $(this).hasClass('paginate_button') || $(this).hasClass('navReset')) {
        } else {
            console.log("working");
            //  alert("working");
            tableData.state.clear();
            localStorage.removeItem("selectedAdminType");
        }
    });
</script>
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            </div>
            <div class="modal-body">
                Are you sure, you want to Unlock the account?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script>


    function Resetpassword() {
        $.ajax({
            url: '/SuperAdmin/UserDashboardPartial',
            type: 'Get',
            cache: false,
            data: { id: $('#userid').val(), recordtype: 'BBL' },
            success: function (data) {
                var sessionId = $(data).find('#Session_Expired').text();
                if (sessionId == 'Session Expired') {
                    window.location.href = '/Account/SessionExpiry';
                } else {
                    $("#search_result").empty().append(data);
                }
            },
            error: function () {
            }
        });
    }
</script>


