@using BusinessCenter.Admin.Helpers
@model BusinessCenter.Admin.Models.AccountViewModel
@{
    ViewBag.Title = "DCRA - Manager Details";
}
@if (Session["UserName"] != null)
{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <div class="container headerBreadcrumb">
        @if ((int)Session["Admincount"] == 2)
        {
            @Html.ActionLink("Home", "Dashboard", "Admin")
        }
        else if ((int)Session["Admincount"] == 4)
        {
            @Html.ActionLink("Home", "Dashboard", "SuperAdmin")
        }
        else if ((int)Session["Admincount"] == 3)
        {
            @Html.ActionLink("Home", "Dashboard", "SuperAdmin")
        }
        <span class="easy-breadcrumb_segment-separator">/</span>
        @if ((int)Session["Admincount"] == 2)
        {
            @Html.ActionLink("Business Center Admin Portal", "Dashboard", "Admin")
        }
        else if ((int)Session["Admincount"] == 4)
        {
            @Html.ActionLink("Business Center Admin Portal", "Dashboard", "SuperAdmin")
        }
        else if ((int)Session["Admincount"] == 3)
        {
            @Html.ActionLink("Business Center Admin Portal", "Dashboard", "SuperAdmin")
        }
        <span class="easy-breadcrumb_segment-separator">/</span>
        <span href="" class="easy-breadcrumb_segment easy-breadcrumb_segment-front">Manager</span>
    </div>
    <div class="page_title scr_title">
        <div class="container">
            <div class="row">
                <h2 tabindex="0" class="heading">Manager Details</h2>
            </div>
        </div>
    </div>
    @*<div class="search_form">*@
    <div class="login_form register_form">
        <div class="container">
            <div class="row">
                <div class="col-sm-9" style="text-align:left;">
                    <div class="form-group">
                        @*@using (Html.BeginForm("Register", "Admin", FormMethod.Get))
                            {*@
                        @Html.AntiForgeryToken()
                        <input type="submit" value="Create manager" id="btnCreate" class="btn btn-default" />
                        @*}*@
                    </div>
                </div>
                <div class=".col-md-3 pull-right" style="margin-top: 30px; margin-left:3px;margin-right:1px;">
                    <div class="form-group">

                        @using (Html.BeginForm("Home", "Admin", FormMethod.Get))
                        {

                            @Html.AntiForgeryToken()
                            @Html.RadioButton("AdminRadio", "All", false, new { id = "All" })<strong> All</strong>

                            @Html.RadioButton("AdminRadio", "Active", false, new { id = "Active" })<strong> Active</strong>

                            @Html.RadioButton("AdminRadio", "InActive", false, new { id = "InActive" })<strong> Inactive</strong>

                        }
                    </div>
                </div>
            </div>
            @Html.HiddenFor(m => m.UserType, new { id = "UserType" })
            <div id="Content" style="width: 100%; height: auto; margin: 0 auto; position: relative;">
                <div class="center" style="text-align: center;width: 100%; height: 200px; vert-align: middle; margin-top: 125px; ">
                    <p style="color:dodgerblue; font-weight: 400;"> Please wait...  <img src="~/images/camera-loader.gif" alt="not showing" /></p>
                </div>
            </div>
        </div>
    </div>
    @*</div>*@
    <div class="modal fade homelockmodaldiv" id="Homelockmodal-container" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" style="margin-top:60px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body homelockmodal-body">
                    <h3 class='error_message'> </h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="close-button  lockyes-btn" id="submit_btn">Yes</button>
                    <button type="button" class="close-button" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade homemodaldiv" id="Homemodal-container" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" style="margin-top:60px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body homemodal-body">
                    <h3 class='error_message'> </h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="close-button  yes-btn" id="submit_btn">Yes</button>
                    <button type="button" class="close-button" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <style>
        .login_form p {
            font-size: 18px;
            margin-bottom: 0;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            var UserType = $("#UserType").val();
            if (localStorage.getItem("managerRadio") != 'null') {
                UserType = JSON.parse(localStorage.getItem('managerRadio'));
              
            }

            if (UserType === 'All') {
                GetAll();
                $("#All").prop('checked', true);
                $("#Active").prop('checked', false);
                $("#InActive").prop('checked', false);
                return true;
            } else if (UserType === 'Active') {
                GetActive();
                $("#All").prop('checked', false);
                $("#Active").prop('checked', true);
                $("#InActive").prop('checked', false);
                return true;
            }
            else if (UserType === 'InActive') {
                GetInActive();
                $("#All").prop('checked', false);
                $("#Active").prop('checked', false);
                $("#InActive").prop('checked', true);
                return true;
            }else { }
        });

        $('input:radio[name="AdminRadio"]').change(function () {
            if ($(this).val() == 'All') {
                $("#Content").empty();
                $("#Content").html('<div class="center"  style="text-align: center;width: 100%; height: 200px; vert-align: middle; margin-top: 125px; "><p style="color:dodgerblue; font-weight: 400;"> Please wait...  <img src="../images/camera-loader.gif" alt="not showing" /></p></div>');
                GetAll();

            } else if ($(this).val() == 'Active') {
                $("#Content").empty();
                $("#Content").html('<div class="center"  style="text-align: center;width: 100%; height: 200px; vert-align: middle; margin-top: 125px; "><p style="color:dodgerblue; font-weight: 400;"> Please wait...  <img src="../images/camera-loader.gif" alt="not showing" /></p></div>');
                GetActive();

            }
            else if ($(this).val() == 'InActive') {
                $("#Content").empty();
                $("#Content").html('<div class="center"  style="text-align: center;width: 100%; height: 200px; vert-align: middle; margin-top: 125px; "><p style="color:dodgerblue; font-weight: 400;"> Please wait...  <img src="../images/camera-loader.gif" alt="not showing" /></p></div>');
                GetInActive();

            }
            else {
            }

            // Clearing the page number and restoring to Page 1, when radiobutton is checked.
            tableData.state.clear();

            // Gets the value of the selected radio button and storing it into local storage.
            var selectedAdminType = $(this).val();
            localStorage.setItem("managerRadio", JSON.stringify(selectedAdminType));
         
        });

        function GetAll() {
            $.ajax({
                url: '/Admin/AllManagers',
                type: 'Get',
                cache: false,
                data: { AllData: $('#All').val() },
                success: function (data) {
                    var sessionId = $(data).find('#Session_Expired').text();
                    if (sessionId == 'Session Expired') {
                        window.location.href = '/Account/SessionExpiry';
                    } else {
                        $("#Content").empty().append(data);
                        $("#noRecords").empty().text("No active or inactive Managers found");
                    }
                },
                error: function () {
                }
            });
        }

        function GetActive() {
            $.ajax({
                url: '/Admin/ActiveManagers',
                type: 'Get',
                cache: false,
                data: { AllData: $('#Active').val() },
                success: function (data) {
                    var sessionId = $(data).find('#Session_Expired').text();
                    if (sessionId == 'Session Expired') {
                        window.location.href = '/Account/SessionExpiry';
                    } else {
                        $("#Content").empty().append(data);
                        $("#noRecords").empty().text("No active Managers found");
                    }
                },
                error: function () {
                }
            });
        };

        function GetInActive() {
            $.ajax({
                url: '/Admin/InActiveManagers',
                type: 'Get',
                cache: false,
                data: { AllData: $('#InActive').val() },
                success: function (data) {
                    var sessionId = $(data).find('#Session_Expired').text();
                    if (sessionId == 'Session Expired') {
                        window.location.href = '/Account/SessionExpiry';
                    } else {
                        $("#Content").empty().append(data);
                        $("#noRecords").empty().text("No inactive Managers found");
                    }
                },
                error: function () {
                }
            });
        };
    </script>

    <script>

        $("#btnCreate").click(function () {
        // RegisterSuperadmin();
        var type = "M";
        var url = "/Account/Register?utype=" + type;
        window.location.href = url;
    });

    </script>
    <script>

        $(document).keydown(function (e) {
            if (e.which == 13) {
                $("#btnCreate").click();
            }
        });
    </script>
    <script>

    var gblLockId;
    var gblLockType;
    var gblLockuserRole;

    function ShowLockDialog(UserId, UserType, Role) {
        $('.homelockmodal-body h3.error_message').empty().append('Are you sure you want to unlock this account?');
        // Do not show this confirmation pop up again for the Current session.
        $('.homelockmodaldiv').modal('show');
        gblLockGui = UserId;
        gblLocklen = UserType;
        gblLockutype = Role;
    }

    $(".lockyes-btn").on("click", function () {
        //console.log("hi");
        //alert("Hi");
        var Gui2 = gblLockGui;
        var len2 = gblLocklen;
        var utype2 = gblLockutype;
        ActivateAccount(Gui2, len2, utype2);
    });

    function ActivateAccount(Gui, len, utype) {

        $.ajax({
            url: '/Account/Lock',
            type: 'Get',
            data: { id: Gui, Type: len, userRole: utype },
            success: function (data) {
                var sessionId = $(data).find('#Session_Expired').text();
                if (sessionId == 'Session Expired') {
                    window.location.href = '/Account/SessionExpiry';
                } else {
                    $('#Homelockmodal-container').modal('hide');
                    //location.reload();
                    if (len == 'All') {
                        GetAll();
                    }
                    else if (len == 'Active') {
                        GetActive();
                    }
                    else if ($("#Active").val() == 'InActive') {
                        GetInActive();
                    }
                }
            },
            error: function (data) {
                console.log(JSON.stringify(data));
            }
        });
    }
    </script>
    <script>
    var gblGui;
    var gblutype;

    function ShowDialog(UserId, utype) {
        $('.homemodal-body h3.error_message').empty().append('Are you sure you want to deactivate this account?');
        // Do not show this confirmation pop up again for the Current session.
        $('.homemodaldiv').modal('show');
        gblGui = UserId;
        gblutype = utype;
    }

    $(".yes-btn").on("click", function () {
        var Gui2 = gblGui;
        var utype2 = gblutype;
        DeleteAccount(Gui2, utype2);
    });

    function DeleteAccount(Gui, utype) {

        $.ajax({
            url: '/Account/Delete',
            type: 'Post',
            data: { UserId: Gui, Type: utype, userRole: 'Manager' },
            success: function (data) {
                var sessionId = $(data).find('#Session_Expired').text();
                if (sessionId == 'Session Expired') {
                    window.location.href = '/Account/SessionExpiry';
                } else {
                    $('#Homemodal-container').modal('hide');
                    if (utype == 'All') {
                        GetAll();
                    }
                    else if (utype == 'Active') {
                        GetActive();
                    }
                    else if (utype == 'InActive') {
                        GetInActive();
                    }
                }
                //  location.reload();
            },
            error: function (data) {
                console.log(JSON.stringify(data));
            }
        });
    }
    </script>
}
else
{
    Response.Redirect("/Account/Login");
}












