@using BusinessCenter.Admin.Helpers;
@using BusinessCenter.Admin.Common;
@*@model IEnumerable<BusinessCenter.Admin.Models.PrimaryCategoryModel>*@
@{
    ViewBag.Title = "DCRA - Primary Categories";
}
@if (Session["UserName"] != null)
{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <div class="container headerBreadcrumb">
        @Html.ActionLink("Home", "Dashboard", "SuperAdmin")
        <span class="easy-breadcrumb_segment-separator">/</span>
        @Html.ActionLink("Business Center Admin Portal", "Dashboard", "SuperAdmin")
        <span class="easy-breadcrumb_segment-separator">/</span>
        @*@Html.ActionLink("BBL", "ApplicationReview", "BBL")*@
        <span href="" class="easy-breadcrumb_segment easy-breadcrumb_segment-front">Metadata</span>
        <span class="easy-breadcrumb_segment-separator">/</span>
        @Html.ActionLink("Business Activity", "BusinessActivities", "BBL")
        <span class="easy-breadcrumb_segment-separator">/</span>
        <span href="" class="easy-breadcrumb_segment easy-breadcrumb_segment-front">Primary Category</span>
    </div>
    <div class="page_title scr_title">
        <div class="container">
            <div class="row">
                <h2 tabindex="0" class="heading">Primary License Category</h2>
            </div>
        </div>
    </div>
    <div class="login_form register_form">
        <div class="container">
            <div class="row">
                <div class="col-sm-9" style="text-align: left;">
                    <div class="form-group">
                        @Html.AntiForgeryToken()
@if ((int) Session["Admincount"] == 3)
{
    <input type="submit" value="Add Primary Category" id="btnCreate" class="btn btn-default"/>
}

                    </div>
                </div>
            </div>
            <div id="Content" style="width: 100%; height: auto; margin: 0 auto; position: relative;">
                <div class="center" style="text-align: center;width: 100%; height: 200px; vert-align: middle; margin-top: 125px; ">
                    <p style="color:dodgerblue; font-weight: 400;"> Please wait...  <img src="~/images/camera-loader.gif" alt="not showing" /></p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade homemodaldiv" id="Homemodal-container" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" style="margin-top: 60px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body homemodal-body">
                    <h3 class='error_message'> </h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="close-button  yes-btn" id="yesbutton">Yes</button>
                    <button type="button" class="close-button" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade registermodaldiv" id="registermodal-container" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" style="margin-top: 60px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body homemodal-body">
                    <h3 class='error_message' id="modelerror"> </h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="close-button  yes-btn" id="okbtn" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#Content").empty();
        $("#Content").html('<div class="center"  style="text-align: center;width: 100%; height: 200px; vert-align: middle; margin-top: 125px; "><p style="color:dodgerblue; font-weight: 400;"> Please wait...  <img src="../images/camera-loader.gif" alt="not showing" /></p></div>');
        GetAll();
    });
    function GetAll() {
        $.ajax({
            url: '/BBL/PrimaryCategoriesPartial',
            type: 'Get',
            cache: false,
            data: { Id: '@ViewBag.ActivityId' },
            success: function (data) {
                var sessionId = $(data).find('#Session_Expired').text();
                if (sessionId == 'Session Expired') {
                    window.location.href = '/Account/SessionExpiry';
                } else {
                    $("#Content").empty().append(data);
}
            },
            error: function () {
            }
        });
    }
    function showdocuments(id) {
        tableData.state.clear();
        var url1 = window.location.href;
        var id1 = url1.substring(url1.lastIndexOf('=') + 1);
        var url = "/BBL/Documents?categoryId=" + id + "&" + "type=" + "primary" +"&"+ "activityId="+id1;
        window.location.href = url;
    }
    $("#btnCreate").click(function () {
        var url = window.location.href;
        var id = url.substring(url.lastIndexOf('=') + 1);
        var url = "/BBL/CreatePrimaryCategory?activityId=" + id;
        window.location.href = url;
      

    });


    var primaryid;
    var actid;
    var descr;
    function ShowDialog(id,activityid) {
        $('.homemodal-body h3.error_message').empty().append('Are you sure you want to deactivate this Primary Category?');
        // Do not show this confirmation pop up again for the Current session.
        $('.homemodaldiv').modal('show');
        primaryid = id;
        actid = activityid;
        //descr = description
    }
    $("#okbtn").on("click", function () {
       
        $('#registermodal-container').modal('hide');
       
        GetAll();
    });
    $("#yesbutton").on("click", function () {
        $('#Homemodal-container').modal('hide');
        var id = primaryid;
        var activityID = actid;
        //var description = descr
        DeletePrimaryCategory(id, activityID);
    });

    function DeletePrimaryCategory(id, activityID) {
        var PrimaryCategories = {
            PrimaryID: id,
            ActivityID: activityID
        };

        $.ajax({
            url: '/BBL/DeletePrimaryCategory',
            type: 'Get',
            cache: false,
            data: PrimaryCategories,
            success: function (data) {
                var sessionId = $(data).find('#Session_Expired').text();
                if (sessionId == 'Session Expired') {
                    window.location.href = '/Account/SessionExpiry';
                } else {
}

            },
            error: function (data) {
                console.log(JSON.stringify(data));
            }
        });
    }

    function ShowFees(activityid,primaryid)
    {
        tableData.state.clear();
        //var url = "/BBL/CategoryFees?type=primary" + "&" + "activityid=" + activityid + "&" + "id=" + primaryid;
        var url = "/BBL/CategoryFees?aId=" + activityid + "&" + "pId=" + primaryid + "&" + "type=primary";
        window.location.href = url;
    }

</script>
}
else
{
    Response.Redirect("/Account/Login");
}















