@using BusinessCenter.Admin.Helpers
@using BusinessCenter.Admin.Common;
@model BusinessCenter.Common.SubmissionMasterDetailsViewModel
@{
    ViewBag.Title = "DCRA - Customer BBL Dashboard";
}
@if (Session["UserName"] != null)
{
    Layout = "~/Views/Shared/_Layout.cshtml";


    if ((int)Session["Admincount"] == 3 || (int)Session["Admincount"] == 4)
     {

         <div class="container headerBreadcrumb">
             @Html.ActionLink("Home", "Dashboard", "SuperAdmin")
             <span class="easy-breadcrumb_segment-separator">/</span>
             @Html.ActionLink("Business Center Admin Portal", "Dashboard", "SuperAdmin")
             <span class="easy-breadcrumb_segment-separator">/</span>
             @Html.ActionLink("Customer", "CustomerHome", "Admin")
             <span class="easy-breadcrumb_segment-separator">/</span>
             <span href="" class="easy-breadcrumb_segment easy-breadcrumb_segment-front">BBL Dashboard</span>
         </div>
     }
    else if ((int)Session["Admincount"] == 2)
    {
        <div class="container headerBreadcrumb">
            @Html.ActionLink("Home", "CustomerHome", "Admin")
            <span class="easy-breadcrumb_segment-separator">/</span>
            @Html.ActionLink("Business Center Admin Portal", "CustomerHome", "Admin")
            <span class="easy-breadcrumb_segment-separator">/</span>
            @Html.ActionLink("Customer", "CustomerHome", "Admin")
            <span class="easy-breadcrumb_segment-separator">/</span>
            <span href="" class="easy-breadcrumb_segment easy-breadcrumb_segment-front">BBL Dashboard</span>
        </div>
    }
    <div class="page_title scr_title">
    <div class="container">
        <div class="row">
            @*<h2 tabindex="0" class="heading">Application Review</h2>*@
            <h2 tabindex="0" class="heading">@Model.UserName's BBL Dashboard</h2>
        </div>
    </div>
</div>
<div class="login_form register_form">
    <div class="container">
        <div class="row">
            <div class="form_wrapper reg-err-placement" id="secondary-add">
              
            </div>
        </div>
        <div id="submission-btns" style="display:none;">
            <div class="row">
                <div class="col-lg-12 col-sm-12 sidebar-outer">
                    <div class="search_result">
                        <div class="container srch_filter">
                            <div class="col-xs-12 no-pad filters">
                                <label class="col-xs-12 col-sm-1 no-pad">Filter:</label>
                                <div class="btn_wrapper" style="margin-top: 1px;">


                                    @if (!Model.Draftlist.Any())
                                    {
                                        <input type="submit" value="Draft (0)" name="draft" disabled class="mouseAuto" />
                                    }
                                    else
                                    {
                                        <input type="submit" value="Draft (@Model.Draftlist.Count())" id="draft" name="draft" class="searchbutn" />
                                    }
                                    @if (!Model.UnderReviewlist.Any())
                                    {
                                        <input type="submit" value="Under Review (0)" name="underreview" disabled class="mouseAuto" />
                                    }
                                    else
                                    {
                                        <input type="submit" value="Under Review (@Model.UnderReviewlist.Count())" id="underreview" name="underreview" class="searchbutn" />
                                    }
                                </div>
                                <input type="text" placeholder="Enter Keyword" id="keywordfield" style="font-weight:bold;" />&nbsp;
                                <input type="submit" value="CLEAR FILTER" id="btnClear" style="margin-top: 2px;" name="Clear All" class="searchbutn clr-btn" />
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
        
        <div class="row">
            <div class=".col-md-3 pull-right" style="margin-top: 30px; ">
                <div class="form-group">
                    @using (Html.BeginForm("Home", "SuperAdmin", FormMethod.Get))
                    {
                        @Html.AntiForgeryToken()
                        @Html.RadioButton("licenseRadio", "All", false, new { id = "All" })<strong> All</strong>
                        @Html.RadioButton("licenseRadio", "Submission", false, new { id = "Submission" })<strong> Submission</strong>
                        @Html.RadioButton("licenseRadio", "Renewal", false, new { id = "Renewal" })<strong> Renewal</strong>
                    }
                </div>
            </div>
        </div>
        @Html.HiddenFor(m => m.LicenseType, new { id = "LicenseType" })
        <div id="Content" style="width: 100%; height: auto; margin: 0 auto; position: relative;">
            <div class="center" style="text-align: center;width: 100%; height: 200px; vert-align: middle; margin-top: 125px; ">
                <p style="color:dodgerblue; font-weight: 400;"> Please wait...  <img src="~/images/camera-loader.gif" alt="not showing" /></p>
            </div>
        </div>


    </div>
</div>
<div class="modal fade homemodaldiv" id="Homemodal-container" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="margin-top:60px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body homemodal-body">
                <h3 class='error_message'> </h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="close-button  yes-btn" id="submit_btn">Yes</button>
                <button type="button" class="close-button" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
     

<script type="text/javascript">
  
    $(document).ready(function () {
        
        
      
            $("#All").prop('checked', true);

            $("#draft-disabled").css("display", "block");
            $("#draft").css("display", "block");
            $("#appreview-btns").css("display", "block");
            $("#Content").empty();
            $("#Content").html('<div class="center"  style="text-align: center;width: 100%; height: 200px; vert-align: middle; margin-top: 125px; "><p style="color:dodgerblue; font-weight: 400;"> Please wait...  <img src="../images/camera-loader.gif" alt="not showing" /></p></div>');
            //  $("#activity-add").empty();
            GetAll();
        

    });
    $('input:radio[name="licenseRadio"]').change(function () {
        if ($(this).val() == 'All') {
            $("#Content").empty();
            $("#Content").html('<div class="center"  style="text-align: center;width: 100%; height: 200px; vert-align: middle; margin-top: 125px; "><p style="color:dodgerblue; font-weight: 400;"> Please wait...  <img src="../images/camera-loader.gif" alt="not showing" /></p></div>');
            $("#draft-disabled").css("display", "block");
            $("#draft").css("display", "block");
            GetAll();


        } else if ($(this).val() == 'Submission') {
            $("#Content").empty();
            $("#Content").html('<div class="center"  style="text-align: center;width: 100%; height: 200px; vert-align: middle; margin-top: 125px; "><p style="color:dodgerblue; font-weight: 400;"> Please wait...  <img src="../images/camera-loader.gif" alt="not showing" /></p></div>');
            $("#draft-disabled").css("display", "block");
            $("#draft").css("display", "block");
            GetAllSubmissions();

        }
        else if ($(this).val() == 'Renewal') {
            $("#Content").empty();
            $("#Content").html('<div class="center"  style="text-align: center;width: 100%; height: 200px; vert-align: middle; margin-top: 125px; "><p style="color:dodgerblue; font-weight: 400;"> Please wait...  <img src="../images/camera-loader.gif" alt="not showing" /></p></div>');
            GetAllRenewals();

        }
        //tableData.state.clear();

        //var licenseRadio = $(this).val();
        //localStorage.setItem("licenseRadio", JSON.stringify(licenseRadio));
       

    });
    
    function GetAll() {
        //string status,string userId
        var url = window.location.href;
        var id = url.substring(url.lastIndexOf('=') + 1);
     
        $.ajax({
            url: '/BBL/SubmissionMasterGridPartial',
            type: 'Get',
            cache: false,
            data: { status: "", userId: id, licenseType: "All" },
            success: function (data) {
                var sessionId = $(data).find('#Session_Expired').text();
                if (sessionId == 'Session Expired') {
                    window.location.href = '/Account/SessionExpiry';
                } else {
                $("#submission-btns").css("display", "block");
                $("#Content").empty().append(data);
}
            },
            error: function () {
            }
        });
    }
    function GetAllSubmissions() {
        var url = window.location.href;
        var id = url.substring(url.lastIndexOf('=') + 1);
        $.ajax({
            url: '/BBL/SubmissionMasterGridPartial',
            type: 'Get',
            cache: false,
            data: { status: "", userId: id, licenseType: "S" },
            success: function (data) {
                var sessionId = $(data).find('#Session_Expired').text();
                if (sessionId == 'Session Expired') {
                    window.location.href = '/Account/SessionExpiry';
                } else {
                $("#submission-btns").css("display", "block");
                $("#Content").empty().append(data);
}
               
            },
            error: function () {
            }
        });
    }
    function GetAllRenewals() {
        var url = window.location.href;
        var id = url.substring(url.lastIndexOf('=') + 1);
        $.ajax({
            url: '/BBL/SubmissionMasterGridPartial',
            type: 'Get',
            cache: false,
            data: { status: "", userId: id, licenseType: "A" },
            success: function (data) {
                var sessionId = $(data).find('#Session_Expired').text();
                if (sessionId == 'Session Expired') {
                    window.location.href = '/Account/SessionExpiry';
                } else {
                $("#Content").empty().append(data);
               
                $("#draft-disabled").css("display", "none");
                $("#draft").css("display", "none");
}
            },
            error: function () {
            }
        });
    }


</script>

<script>
        $("#draft").click(function () {
            $("#keywordfield").val("Draft");
            SearchByStatus("Draft");
            RemoveActivefrmbtns();
            $("#draft").toggleClass('active');
        });
        $("#underreview").click(function () {

            $("#keywordfield").val("Under Review");
            SearchByStatus("UnderReview");
            RemoveActivefrmbtns();
            $("#underreview").toggleClass('active');
        });

        $("#btnClear").click(function () {
            $("#keywordfield").val('');
            var kwditem = "";
            SearchByStatus(kwditem);
            Removeall();
        });

        $("#keywordfield").keyup(function () {
          
            var kwditem = $("#keywordfield").val();
            SearchByStatus(kwditem);

        });
        function Removeall() {
            $("#draft").removeClass('active');
            $("#underreview").removeClass('active');

        }
        function RemoveActivefrmbtns() {
            $("#draft").removeClass('active');
            $("#underreview").removeClass('active');
            $("#btnClear").removeClass('active');
        }

        function SearchByStatus(Status) {
            var url = window.location.href;
            var id = url.substring(url.lastIndexOf('=') + 1);
            $.ajax({
                url: "/BBL/SubmissionMasterGridPartial",
                type: 'Get',
                cache: false,
                data: { status: Status, userId: id },
               // data: { status: Status },
                success: function (data) {
                    var sessionId = $(data).find('#Session_Expired').text();
                    if (sessionId == 'Session Expired') {
                        window.location.href = '/Account/SessionExpiry';
                    } else {
                        $("#Content").empty().append(data);
}
                },
                error: function () {
                }
            });
        }
</script>
    
}
else
{
    Response.Redirect("/Account/Login");
}


<style>
    .btn_wrapper {
        margin-top: 2px;
    }
</style>